:root {
    --blue-theme: #4d56fc;
    --green-theme: #40ba4f;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 2rem 0;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 0px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.header {
    background-color: var(--blue-theme);
    padding: 1rem 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-itens {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav-itens li a {
    padding: 0.3rem;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.nav-itens li a:hover {
    text-shadow: 1px 1px 2px #ffffff63;
    border-bottom-color: #fff;
}

/* Footer */
.footer {
    background-color: var(--blue-theme);
    color: #fff;
    text-align: center;
}

.footer a {
    color: #fff;
}

/* Menu Mobile */

input[name="open-menu"],
label[for="open-menu"] {
    display: none;
}

input[name="open-menu"]:checked ~ .nav-itens {
    width: 350px;
    padding: 1rem;
}

.mobile-header .nav-itens {
    position: absolute;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 0;
    padding: 0;
    background-color: var(--blue-theme);
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
}

@media (max-width: 768px) {
    label[for="open-menu"] {
        display: block;
    }

    .desktop-header .nav-itens {
        display: none;
    }
}
